/*PRICE*/

.price {
	.box-sizing(border-box);
	white-space: nowrap;
	//.price__prev
	&__prev {
		font-family: @font-second;
		font-size: 36px;
		color: @color-text;
		text-decoration: line-through;
		display: inline-block;
		line-height: 0;
	}
	//.price__new
	&__new {
		font-family: @font-second;
		color: @color-second;
		font-size: 64px;
		display: inline-block;
		line-height: @modul-l;
	}
  //.price__new.price_internet
  &_internet &__new {
    color: @color-product-internet;   
  }
  //.price__new.price_tv
  &_tv &__new {
    color: @color-product-tv;   
  }    
  //.price__new.price_phone
  &_phone &__new {
    color: @color-product-phone;   
  }
  //.price__new.price_mobile
  &_mobile &__new {
    color: @color-product-mobile;   
  }    
	//.price__unit
	&__unit {
		font-family: @font-main;
		color: @color-text;
		font-size: @font-s;
		white-space: pre;
		display: inline-block;
	}
	//.price_dark .price__prev, .price_dark .price__unit
	&_dark &__prev,
	&_dark &__unit {
		color: @color-white;
	}
      
}

/*PRICE END*/
